In [0]:
import torch
import torchvision
import torch.nn as nn
import pandas as pd
import matplotlib.pyplot as plt
import torch.nn.functional as F
from torchvision.datasets.utils import download_url
from torch.utils.data import DataLoader, TensorDataset, random_split

In [73]:
DATASET_URL = "https://hub.jovian.ml/wp-content/uploads/2020/05/insurance.csv"
DATA_FILENAME = "insurance.csv"
download_url(DATASET_URL, '.')

Using downloaded and verified file: ./insurance.csv

In [74]:
dataframe_raw = pd.read_csv(DATA_FILENAME)
dataframe_raw.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [0]:
your_name = 'Rohit'

In [0]:
def customize_dataset(dataframe_raw, rand_str):
    dataframe = dataframe_raw.copy(deep=True)
    # drop some rows
    dataframe = dataframe.sample(int(0.95*len(dataframe)), random_state=int(ord(rand_str[0])))
    # scale input
    dataframe.bmi = dataframe.bmi * ord(rand_str[1])/100.
    # scale target
    dataframe.charges = dataframe.charges * ord(rand_str[2])/100.
    # drop column
    if ord(rand_str[3]) % 2 == 1:
        dataframe = dataframe.drop(['region'], axis=1)
    return dataframe

In [77]:
dataframe = customize_dataset(dataframe_raw, your_name)
dataframe.head()

      age     sex       bmi  children smoker       charges
457    57  female  33.84945         0     no  12314.406052
1050   44  female  41.02005         1     no   8344.060868
56     58  female  35.32575         2     no  14151.663500
311    19  female  27.41700         0     no   1806.871040
1288   20    male  43.73400         2    yes  39878.348640

In [78]:
dataframe.shape

(1271, 6)

In [79]:
num_rows = dataframe.shape[0]
num_rows

1271

In [80]:
num_cols = dataframe.shape[1]
num_cols

6

In [86]:
input_cols = list(dataframe.drop('charges',axis =1))
input_cols

['age', 'sex', 'bmi', 'children', 'smoker']

In [87]:
categorical_cols = list(dataframe.select_dtypes(exclude=['float','int']))
categorical_cols

['sex', 'smoker']

In [99]:
output_cols = [dataframe.columns[-1]]
output_cols

['charges']

In [0]:
def dataframe_to_arrays(dataframe):
    # Make a copy of the original dataframe
    dataframe1 = dataframe.copy(deep=True)
    # Convert non-numeric categorical columns to numbers
    for col in categorical_cols:
        dataframe1[col] = dataframe1[col].astype('category').cat.codes
    # Extract input & outupts as numpy arrays
    inputs_array = dataframe1[input_cols].to_numpy()
    targets_array = dataframe1[output_cols].to_numpy()
    return inputs_array, targets_array

In [101]:
inputs_array, targets_array = dataframe_to_arrays(dataframe)
inputs_array, targets_array

(array([[57.     ,  0.     , 33.84945,  0.     ,  0.     ],
        [44.     ,  0.     , 41.02005,  1.     ,  0.     ],
        [58.     ,  0.     , 35.32575,  2.     ,  0.     ],
        ...,
        [59.     ,  0.     , 38.628  ,  2.     ,  0.     ],
        [41.     ,  1.     , 31.968  ,  1.     ,  0.     ],
        [36.     ,  0.     , 33.3222 ,  0.     ,  0.     ]]),
 array([[12314.406052 ],
        [ 8344.060868 ],
        [14151.6635   ],
        ...,
        [38387.0323512],
        [ 6533.5244   ],
        [ 5483.062832 ]]))

In [0]:
inputs = torch.tensor(inputs_array, dtype=torch.float32)
targets = torch.tensor(targets_array, dtype=torch.float32)

In [103]:
inputs.dtype, targets.dtype

(torch.float32, torch.float32)

In [0]:
dataset = TensorDataset(inputs, targets)

In [107]:
val_percent = 0.12 # between 0.1 and 0.2
val_size = int(num_rows * val_percent)

train_size = num_rows - val_size
print(val_size ,train_size)

train_ds, val_ds = random_split(dataset, [train_size, val_size])

152 1119

In [0]:
batch_size = 128

In [0]:
train_loader = DataLoader(train_ds, batch_size, shuffle=True)
val_loader = DataLoader(val_ds, batch_size)

In [110]:
for xb, yb in train_loader:
    print("inputs:", xb)
    print("targets:", yb)
    break

inputs: tensor([[54.0000,  0.0000, 34.1880,  3.0000,  0.0000],
        [45.0000,  0.0000, 42.4963,  0.0000,  0.0000],
        [60.0000,  0.0000, 30.5805,  0.0000,  0.0000],
        [58.0000,  0.0000, 25.2747,  0.0000,  0.0000],
        [33.0000,  0.0000, 36.5190,  2.0000,  0.0000],
        [18.0000,  1.0000, 35.2203,  0.0000,  1.0000],
        [30.0000,  1.0000, 39.1830,  0.0000,  1.0000],
        [51.0000,  1.0000, 28.1940,  0.0000,  0.0000],
        [58.0000,  1.0000, 41.0201,  2.0000,  1.0000],
        [41.0000,  1.0000, 37.2405,  0.0000,  0.0000],
        [19.0000,  1.0000, 36.7410,  0.0000,  0.0000],
        [32.0000,  0.0000, 19.7192,  2.0000,  1.0000],
        [34.0000,  0.0000, 41.4418,  2.0000,  0.0000],
        [57.0000,  0.0000, 28.5714,  2.0000,  0.0000],
        [50.0000,  1.0000, 35.8530,  1.0000,  1.0000],
        [29.0000,  1.0000, 39.4050,  2.0000,  1.0000],
        [39.0000,  1.0000, 50.4273,  2.0000,  0.0000],
        [18.0000,  1.0000, 37.3626,  0.0000,  0.0000],
        [32.0000,  1.0000, 32.1123,  1.0000,  1.0000],
        [44.0000,  1.0000, 33.5220,  2.0000,  1.0000],
        [26.0000,  0.0000, 47.0640,  1.0000,  0.0000],
        [25.0000,  1.0000, 33.9549,  0.0000,  0.0000],
        [38.0000,  1.0000, 31.3797,  1.0000,  0.0000],
        [28.0000,  0.0000, 38.5947,  0.0000,  0.0000],
        [62.0000,  1.0000, 43.1013,  0.0000,  0.0000],
        [49.0000,  0.0000, 23.6430,  1.0000,  0.0000],
        [57.0000,  0.0000, 38.0675,  2.0000,  0.0000],
        [23.0000,  0.0000, 31.2132,  0.0000,  0.0000],
        [31.0000,  0.0000, 32.3010,  0.0000,  0.0000],
        [41.0000,  1.0000, 31.9680,  1.0000,  0.0000],
        [29.0000,  1.0000, 24.9916,  3.0000,  0.0000],
        [62.0000,  0.0000, 36.5911,  3.0000,  0.0000],
        [63.0000,  1.0000, 40.8092,  0.0000,  0.0000],
        [47.0000,  1.0000, 52.7472,  1.0000,  0.0000],
        [18.0000,  1.0000, 47.7411,  0.0000,  0.0000],
        [61.0000,  1.0000, 31.4241,  1.0000,  1.0000],
        [38.0000,  1.0000, 38.5170,  2.0000,  0.0000],
        [48.0000,  1.0000, 39.5438,  4.0000,  0.0000],
        [60.0000,  1.0000, 31.7404,  0.0000,  0.0000],
        [29.0000,  0.0000, 39.4383,  0.0000,  0.0000],
        [37.0000,  1.0000, 32.9004,  0.0000,  0.0000],
        [64.0000,  0.0000, 25.5189,  0.0000,  1.0000],
        [54.0000,  1.0000, 28.2606,  1.0000,  0.0000],
        [62.0000,  0.0000, 27.7500,  0.0000,  0.0000],
        [19.0000,  0.0000, 27.2061,  1.0000,  0.0000],
        [32.0000,  1.0000, 30.8969,  1.0000,  0.0000],
        [28.0000,  1.0000, 24.9916,  2.0000,  0.0000],
        [20.0000,  0.0000, 34.9206,  0.0000,  0.0000],
        [55.0000,  0.0000, 29.9478,  0.0000,  0.0000],
        [24.0000,  0.0000, 22.7772,  0.0000,  1.0000],
        [56.0000,  1.0000, 35.2869,  2.0000,  1.0000],
        [37.0000,  0.0000, 34.1880,  2.0000,  0.0000],
        [22.0000,  1.0000, 35.2203,  0.0000,  0.0000],
        [42.0000,  0.0000, 28.0830,  1.0000,  0.0000],
        [38.0000,  0.0000, 33.5331,  3.0000,  0.0000],
        [49.0000,  0.0000, 26.4680,  3.0000,  1.0000],
        [26.0000,  0.0000, 19.0865,  2.0000,  1.0000],
        [29.0000,  1.0000, 35.6421,  2.0000,  0.0000],
        [23.0000,  0.0000, 43.5897,  2.0000,  0.0000],
        [54.0000,  0.0000, 52.6251,  0.0000,  1.0000],
        [19.0000,  1.0000, 21.9780,  0.0000,  0.0000],
        [64.0000,  0.0000, 43.3455,  3.0000,  0.0000],
        [19.0000,  0.0000, 39.0165,  0.0000,  0.0000],
        [38.0000,  1.0000, 30.8969,  2.0000,  0.0000],
        [63.0000,  0.0000, 40.2930,  0.0000,  0.0000],
        [35.0000,  0.0000, 30.7470,  3.0000,  0.0000],
        [43.0000,  1.0000, 33.4277,  3.0000,  0.0000],
        [43.0000,  1.0000, 30.3696,  3.0000,  0.0000],
        [42.0000,  1.0000, 39.9267,  2.0000,  0.0000],
        [27.0000,  0.0000, 19.9300,  2.0000,  1.0000],
        [40.0000,  0.0000, 33.0891,  1.0000,  0.0000],
        [40.0000,  1.0000, 39.1830,  3.0000,  0.0000],
        [22.0000,  1.0000, 43.8450,  0.0000,  0.0000],
        [22.0000,  1.0000, 38.6280,  3.0000,  0.0000],
        [56.0000,  0.0000, 29.5260,  1.0000,  0.0000],
        [37.0000,  0.0000, 52.8360,  2.0000,  1.0000],
        [18.0000,  0.0000, 33.4277,  0.0000,  0.0000],
        [48.0000,  0.0000, 39.8601,  1.0000,  0.0000],
        [53.0000,  0.0000, 27.5224,  1.0000,  0.0000],
        [61.0000,  0.0000, 27.8388,  0.0000,  0.0000],
        [30.0000,  0.0000, 35.9640,  1.0000,  0.0000],
        [21.0000,  0.0000, 28.6380,  0.0000,  0.0000],
        [21.0000,  0.0000, 37.3293,  2.0000,  0.0000],
        [20.0000,  1.0000, 34.0603,  0.0000,  1.0000],
        [57.0000,  1.0000, 32.1623,  0.0000,  1.0000],
        [33.0000,  0.0000, 43.1790,  3.0000,  0.0000],
        [19.0000,  0.0000, 22.8660,  0.0000,  0.0000],
        [43.0000,  1.0000, 28.8933,  0.0000,  0.0000],
        [54.0000,  1.0000, 33.3222,  0.0000,  0.0000],
        [53.0000,  0.0000, 29.6370,  2.0000,  0.0000],
        [32.0000,  0.0000, 35.0094,  1.0000,  0.0000],
        [56.0000,  1.0000, 29.6315,  1.0000,  1.0000],
        [27.0000,  0.0000, 26.7510,  0.0000,  0.0000],
        [42.0000,  0.0000, 32.1900,  1.0000,  0.0000],
        [37.0000,  1.0000, 25.2026,  3.0000,  0.0000],
        [18.0000,  1.0000, 36.9963,  0.0000,  0.0000],
        [46.0000,  1.0000, 37.0130,  1.0000,  0.0000],
        [47.0000,  0.0000, 32.6007,  1.0000,  0.0000],
        [19.0000,  1.0000, 49.8168,  0.0000,  1.0000],
        [58.0000,  1.0000, 31.7404,  0.0000,  0.0000],
        [54.0000,  0.0000, 23.8317,  3.0000,  0.0000],
        [51.0000,  1.0000, 36.9963,  3.0000,  0.0000],
        [18.0000,  0.0000, 40.9035,  0.0000,  1.0000],
        [45.0000,  1.0000, 40.4928,  2.0000,  1.0000],
        [25.0000,  1.0000, 50.5494,  2.0000,  1.0000],
        [64.0000,  1.0000, 42.0746,  0.0000,  0.0000],
        [48.0000,  1.0000, 27.1062,  0.0000,  1.0000],
        [48.0000,  0.0000, 40.5983,  0.0000,  0.0000],
        [43.0000,  1.0000, 36.1860,  2.0000,  0.0000],
        [56.0000,  1.0000, 37.3293,  0.0000,  1.0000],
        [50.0000,  1.0000, 35.8530,  2.0000,  0.0000],
        [64.0000,  0.0000, 37.5180,  1.0000,  1.0000],
        [64.0000,  0.0000, 36.5911,  0.0000,  0.0000],
        [29.0000,  1.0000, 32.1623,  1.0000,  0.0000],
        [51.0000,  1.0000, 47.6190,  2.0000,  1.0000],
        [27.0000,  0.0000, 27.9443,  0.0000,  0.0000],
        [25.0000,  1.0000, 29.6315,  4.0000,  0.0000],
        [63.0000,  0.0000, 29.1042,  0.0000,  0.0000],
        [42.0000,  0.0000, 32.7228,  2.0000,  0.0000],
        [28.0000,  1.0000, 29.9478,  2.0000,  0.0000],
        [59.0000,  1.0000, 31.9513,  0.0000,  0.0000],
        [31.0000,  1.0000, 34.2713,  0.0000,  0.0000],
        [60.0000,  1.0000, 34.7985,  3.0000,  1.0000],
        [34.0000,  1.0000, 28.0497,  1.0000,  0.0000],
        [42.0000,  1.0000, 28.9377,  1.0000,  1.0000],
        [39.0000,  1.0000, 27.2061,  2.0000,  0.0000],
        [21.0000,  0.0000, 36.2748,  2.0000,  0.0000],
        [52.0000,  0.0000, 41.5140,  0.0000,  0.0000]])
targets: tensor([[12589.5332],
        [ 8252.7031],
        [13745.7783],
        [12307.1338],
        [ 5590.0396],
        [35081.9961],
        [38310.9648],
        [ 9133.7676],
        [49396.3555],
        [ 5927.8311],
        [24006.2734],
        [34043.5547],
        [ 6229.1045],
        [13134.3320],
        [43595.8594],
        [46368.8750],
        [ 6610.5215],
        [ 1181.8553],
        [20508.4824],
        [40558.4883],
        [ 3546.7371],
        [ 2836.4910],
        [ 5703.8462],
        [ 3699.1992],
        [13500.5996],
        [ 9549.4570],
        [13753.0195],
        [ 2797.7183],
        [ 3911.7437],
        [ 6533.5244],
        [ 5417.9619],
        [16236.6807],
        [14541.1240],
        [ 8407.2764],
        [ 1195.3717],
        [30023.4102],
        [ 6325.7012],
        [11166.3457],
        [31470.3945],
        [ 3501.3364],
        [ 5229.2725],
        [28119.4297],
        [26537.7988],
        [13989.1670],
        [ 2817.4763],
        [ 4632.5786],
        [ 4606.0435],
        [ 1953.0466],
        [11525.8799],
        [15154.7666],
        [45566.4219],
        [ 6566.3096],
        [ 2344.9885],
        [ 7327.3188],
        [ 7838.6504],
        [25071.1895],
        [15033.8701],
        [ 4611.2725],
        [ 3640.6367],
        [66321.2422],
        [ 1291.2275],
        [16728.5332],
        [ 2220.2976],
        [ 6714.0972],
        [14442.6924],
        [ 6670.7451],
        [ 8746.4482],
        [ 8950.4658],
        [ 7446.7437],
        [15606.8428],
        [ 6760.2451],
        [ 7484.7417],
        [ 1749.9009],
        [ 3580.7866],
        [12526.1152],
        [47958.0508],
        [ 2291.6108],
        [27447.9512],
        [11379.8174],
        [25493.6152],
        [ 4315.7256],
        [ 2088.2627],
        [ 3723.0217],
        [34814.8516],
        [28307.1738],
        [ 6211.2729],
        [ 1800.9441],
        [ 7110.8633],
        [25455.5371],
        [11596.8115],
        [ 5354.4946],
        [27153.7031],
        [ 3093.0911],
        [ 7332.6675],
        [ 7264.9272],
        [ 1181.3783],
        [ 8667.8359],
        [ 8889.5986],
        [41311.6562],
        [12205.3145],
        [12974.3652],
        [10982.9111],
        [37595.4609],
        [44470.9219],
        [43796.7266],
        [14778.9570],
        [22072.6230],
        [ 9018.0391],
        [ 7739.1611],
        [45678.0312],
        [10015.6133],
        [49845.1523],
        [15280.3760],
        [ 4202.1807],
        [49361.4102],
        [ 3700.9651],
        [ 5073.1001],
        [14826.4404],
        [ 7945.9214],
        [ 4612.4980],
        [12614.7988],
        [ 4012.0696],
        [47975.7461],
        [ 5090.5435],
        [39775.4180],
        [ 6978.5996],
        [27059.7090],
        [10019.9199]])

In [113]:
input_size = len(input_cols)
print(input_size)
output_size = len(output_cols)
print(output_size)

5
1

In [0]:
class InsuranceModel(nn.Module):
    def __init__(self):
        super().__init__()
        self.linear = nn.Linear(input_size, output_size) # fill this (hint: use input_size & output_size defined above)
        
    def forward(self, xb):
        out = self.linear(xb)                          # fill this
        return out
    
    def training_step(self, batch):
        inputs, targets = batch 
        # Generate predictions
        out = self(inputs)          
        # Calcuate loss
        loss = F.l1_loss(out, targets)                # fill this
        return loss
    
    def validation_step(self, batch):
        inputs, targets = batch
        # Generate predictions
        out = self(inputs)
        # Calculate loss
        loss = F.l1_loss(out, targets)                           # fill this    
        return {'val_loss': loss.detach()}
        
    def validation_epoch_end(self, outputs):
        batch_losses = [x['val_loss'] for x in outputs]
        epoch_loss = torch.stack(batch_losses).mean()   # Combine losses
        return {'val_loss': epoch_loss.item()}
    
    def epoch_end(self, epoch, result, num_epochs):
        # Print result every 20th epoch
        if (epoch+1) % 20 == 0 or epoch == num_epochs-1:
            print("Epoch [{}], val_loss: {:.4f}".format(epoch+1, result['val_loss']))

In [0]:
model = InsuranceModel()

In [138]:
list(model.parameters())

[Parameter containing:
 tensor([[ 0.3727, -0.2155,  0.1890,  0.3767,  0.0774]], requires_grad=True),
 Parameter containing:
 tensor([-0.0557], requires_grad=True)]

In [0]:
def evaluate(model, val_loader):
    outputs = [model.validation_step(batch) for batch in val_loader]
    return model.validation_epoch_end(outputs)

def fit(epochs, lr, model, train_loader, val_loader, opt_func=torch.optim.SGD):
    history = []
    optimizer = opt_func(model.parameters(), lr)
    for epoch in range(epochs):
        # Training Phase 
        for batch in train_loader:
            loss = model.training_step(batch)
            loss.backward()
            optimizer.step()
            optimizer.zero_grad()
        # Validation phase
        result = evaluate(model, val_loader)
        model.epoch_end(epoch, result, epochs)
        history.append(result)
    return history

In [140]:
result = evaluate(model, val_loader) # Use the the evaluate function
print(result)

{'val_loss': 12234.7265625}

In [141]:
epochs = 10
lr = 1e-3
history1 = fit(epochs, lr, model, train_loader, val_loader)

Epoch [10], val_loss: 11990.6357

In [142]:
epochs = 10
lr = 1e-4
history2 = fit(epochs, lr, model, train_loader, val_loader)

Epoch [10], val_loss: 11966.2207

In [143]:
epochs = 15
lr = 1e-3
history3 = fit(epochs, lr, model, train_loader, val_loader)

Epoch [15], val_loss: 11600.1260

In [144]:
epochs = 20
lr = 1e-4
history4 = fit(epochs, lr, model, train_loader, val_loader)

Epoch [20], val_loss: 11551.3115

In [145]:
epochs = 20
lr = 5e-7
history5 = fit(epochs, lr, model, train_loader, val_loader)

Epoch [20], val_loss: 11551.0664

In [0]:
def predict_single(input, target, model):
    inputs = input.unsqueeze(0)
    predictions = model(inputs)                # fill this
    prediction = predictions[0].detach()
    print("Input:", input)
    print("Target:", target)
    print("Prediction:", prediction)

In [127]:
input, target = val_ds[0]
predict_single(input, target, model)

Input: tensor([58.0000,  0.0000, 40.4928,  0.0000,  0.0000])
Target: tensor([12725.2725])
Prediction: tensor([940.0260])

In [128]:
input, target = val_ds[10]
predict_single(input, target, model)

Input: tensor([46.0000,  0.0000, 34.1880,  3.0000,  0.0000])
Target: tensor([9791.5166])
Prediction: tensor([764.4180])